body {
    background-image: url(pictures/home_bg.jpg);
    background-size: 90em;
}

#gamePName1,
#gamePName2 {
    text-align: center;
    font-size: 4em;
}

#vs {
    text-align: center;
    color: brown;
    padding: 2em;
}

#p1,
#p2 {
    background-color: aqua;
    border: 2px solid black;
    border-radius: 2em;
}

#turn {
    background-color: lightgreen;
    color: blue;
    border-radius: 0.5em;
}

#canvas {
    margin: 1em;
    background-color: white;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 13em 13em 13em;
    grid-template-columns: 33% 33% 33%;
}

.gameSquare {
    border: 5px solid black;
}

img {
    height: 100%;
    width: 100%;
}